# Python data structure collection
- string
- list
- dictionary
- tuple
- set

# we can create a list of students

## List 
    list is denote by []
    - []
    - mutable : Element is list can chagned
    - can hold every valid vlaue
- Iterable : loop karsakti hai

In [19]:
# Creating an empty list
students = []

In [10]:
# We can check type of list like thid 
print(type(students))

<class 'list'>

In [11]:
# Creating a member list
students = ['a', 'b', 'c']

In [12]:
## Indexes in list

             0    1    2
students = ['a', 'b', 'c']
            -3   -2   -1

In [13]:
                # 0       1          3       4        5          6      7          8         9        10        11
students = ["Saqib", "Haseeb", "Zubair", "Anas", "Nabeel", "Wasiq", "Faraaz", "Faisal", "Hammad", "Ahsan", "Hassan"]
             # -11       -10      -9        -8       -7       -6       -5        -4       -3         -2         -1

In [14]:
len(students)

11

In [15]:
type(students)

list

In [16]:
                # 0       1          2       3        4         5        6         7         8         9        10
students = ["Saqib", "Haseeb", "Zubair", "Anas", "Nabeel", "Wasiq", "Faraaz", "Faisal", "Hammad", "Ahsan", "Hassan"]
            # -11       -10      -9        -8       -7       -6       -5        -4       -3         -2         -1

In [17]:
# Get the vlaue using index form the list 

students[4]

'Nabeel'

In [20]:
                # 0       1          2       3        4         5        6         7         8         9        10
students = ["Saqib", "Haseeb", "Zubair", "Anas", "Nabeel", "Wasiq", "Faraaz", "Faisal", "Hammad", "Ahsan", "Hassan"]
             # -11       -10      -9        -8       -7       -6       -5        -4       -3         -2         -1

In [21]:
students[-3]

'Hammad'

### students[1: 5 : 2]

students = ["Saqib", "Haseeb", "Zubair", "Anas", "Nabeel", "Wasiq", "Faraaz", "Faisal", "Hammad", "Ahsan", "Hassan"]

- Pehla number (start): Kahan se list ko kaatna shuru karna hai.
- Dusra number (end): Kahan tak kaatna hai (lekin us index ko nahi lena).
- Teesra number (step): Kitne kitne element chhod kar agla uthana hai.

In [22]:
students[1:]

['Haseeb',
 'Zubair',
 'Anas',
 'Nabeel',
 'Wasiq',
 'Faraaz',
 'Faisal',
 'Hammad',
 'Ahsan',
 'Hassan']

In [23]:
print(students)

['Saqib', 'Haseeb', 'Zubair', 'Anas', 'Nabeel', 'Wasiq', 'Faraaz', 'Faisal', 'Hammad', 'Ahsan', 'Hassan']

In [24]:
students[2:5] # it will start from 2 index till 5 index but 5th index value will not include

['Zubair', 'Anas', 'Nabeel']

In [ ]:
             # 0       1          2       3        4         5        6         7         8         9        10
students = ["Saqib", "Haseeb", "Zubair", "Anas", "Nabeel", "Wasiq", "Faraaz", "Faisal", "Hammad", "Ahsan", "Hassan"]
             # -11       -10      -9        -8       -7       -6       -5        -4       -3         -2         -1

In [25]:
students[3: -5] # End index -13 ka matlab hota hai list ke aakhir se reverse me count karte hue index.

['Anas', 'Nabeel', 'Wasiq']

#### students[4: -13]

#### Kya hoga?
- Start index 4 se slicing shuru hogi.
- End index -13 ka matlab hota hai list ke aakhir se reverse me count karte hue index.
- Lekin agar end index list ke size se bohat chhota ho (bahir nikal jaye) to Python empty list [] return karta hai.

In [26]:
students[4: -13] # if insert the index is wrong which is -13 it will not slice the array it will return the empty array

[]

In [6]:
              # 0       1          2       3        4         5        6         7         8         9        10
students = ["Saqib", "Haseeb", "Zubair", "Anas", "Nabeel", "Wasiq", "Faraaz", "Faisal", "Hammad", "Ahsan", "Hassan"]
             # -11       -10      -9        -8       -7       -6       -5        -4       -3         -2         -1

In [27]:
students[::3] # ager define nahi karian gay to 0 se start hoga or last tk jaye ga

['Saqib', 'Anas', 'Faraaz', 'Ahsan']


## List methods
- append()
- insert 
- pop
- remove
- clear
- del

In [3]:
class1 = ["Faraaz", "Faisal", "Hammad", "Ahsan", "Hassan"]
class2 =[ "Faraaz", "Faisal", "Hammad", "Ahsan", "Hassan"]

In [4]:
print(class1)

['Faraaz', 'Faisal', 'Hammad', 'Ahsan', 'Hassan']

In [32]:
students.pop() # ye wo vlaue return karta hai jo pop karnay se delete hoi h

'Hassan'

In [34]:
print(students)

['Saqib', 'Haseeb', 'Zubair', 'Anas', 'Nabeel', 'Wasiq', 'Faraaz', 'Faisal', 'Hammad', 'Ahsan']

In [70]:
students.insert(0,'zyx') 
# first main btana hota hai k kahan insert karna hai 
# second main batana hota hai k kia insert karna hair

In [71]:
print(students)

['zyx', 'Saqib', 'Haseeb', 'Zubair', 'Anas', 'Nabeel', 'Wasiq', 'Faraaz', 'Faisal', 'Hammad', 'Ahsan']

In [65]:
students.pop(0)

'zyx'

In [72]:
print(students)

['zyx', 'Saqib', 'Haseeb', 'Zubair', 'Anas', 'Nabeel', 'Wasiq', 'Faraaz', 'Faisal', 'Hammad', 'Ahsan']

In [5]:
del students[0] 
sudents
#  delete k lia range bhi de saktay hian or single index bhi

NameError: name 'students' is not defined

In [78]:
print(students)

['Haseeb', 'Zubair', 'Anas', 'Nabeel', 'Wasiq', 'Faraaz', 'Faisal', 'Hammad', 'Ahsan']

In [79]:
students.remove("Haseeb") 
# is tarha list main se koi bhi value remove kar saktay hain leking just wo value remove hogi jo pehlay found hogi

In [80]:
print(students)

['Zubair', 'Anas', 'Nabeel', 'Wasiq', 'Faraaz', 'Faisal', 'Hammad', 'Ahsan']